body{
	background-color: #361222;
	margin-left:90px;
}



h1{
	font-family: 'Sacramento', cursive;
	padding-top,left: 90px;
	font-size: 125px;
    color: #37c42f;
    text-align: center;
    border-style: groove, 20px;
}
p1{
	margin-left: 90px;
	margin-right: 40px;
	font-family: 'Sacramento', cursive;
	padding-top: 120px;
	font-size: 75px;
    color: #37c42f;
    text-align: center;
}
